@CHARSET "UTF-8";
body{
	margin: 0px;
	padding:0px;
	background-image: url(../img/back.jpg);

}



.d1{
	
	margin:0px auto;
	width:20%;
	height:380px;
	text-align:center;
	position: relative;
	top: 144px;
	background-color: #FFFFFF;
	

}
  .d1 input{
	  height: 25px;
	  width: 160px;
  }
.d1 #p1 {
	position: absolute;
	left: 54px;
	top: 58px;
}
.d1 #p2 {
	position: absolute;
	left: 54px;
	top: 98px;

}
.d1 #p3 {
	position: absolute;
	left: 22px;
	top: 138px;
}
.d1 #p4 {
	   position: absolute;
	   left: 53px;
	   top: 178px;
}
.d1 #p5 {
	position: absolute;
	left: 36px;
	top: 218px;
	}
.d1 #rr{
	
	position: absolute;
	left: 49px;
	top: 300px;
	width: 221px;
	height: 35px;
	background-color: #47CBFC;
}
.d2{
	height:45px;
	
}
 ul{
	width:50%;
	list-style-type: none;
	margin: 0px 416px;

	
}
li{
	float:left;
	margin:10px;
}
.d3{
	height:45px;
}

#left_box{
	
	height:76px;
	text-align:center;
	background:#ED6152;
	position:relative;
   
}

.f1{
	position:absolute;
	left:20%;
	height:50px;
	
}
.f1>p{
	
	float:left;
	margin: 20px 60px;
	font-size:30px;
	color:#FFF; 
	cursor: pointer;
}




 #ht3{
      
      text-decoration:none;
      color: black;
      }